/* 
    font-family: 'Kumar One', cursive;

    font-family: 'Kumar One Outline', cursive;

    font-family: 'Lato', sans-serif;
*/

$headerFont: "Kumar One Outline", cursive;
$bodyFont: "Lato", sans-serif;
$sectionTitleFont: "Kumar One", cursive; 
