/* Main Page Styles */

section.newMaterials {
    background: $contentBoxColor;

    .discoverMaterials {
        display: flex;
        flex-wrap: wrap;
        
        padding-top: 50px;

        div.discoverContent {
            width: 70%;
            flex: 1 0 500px;
            margin-right: 150px;
            margin-bottom: 150px;
            margin-top: 150px;
        }

        div.discoverImage {
            width: 30%;
            flex: 1 0 200px;
            margin-top: 150px;
            img {
                box-shadow: -20px 20px $boxShadowColor;
            }
        }
    }
}

section.mainGalleryImages {
    background: $mainBodyColor;

    .galleryImagesFlex {
        @include centerFlex();
        flex-wrap: wrap;
        li {
            flex: 1 0 400px;
            padding: 40px 30px;
            img {
                width: calc(100% - 60px);
            }
        }
    }
}

section.companyMedia {
    background: $contentBoxColor;
    .companyMediaFlex {
        @include centerFlex();
        flex-wrap: wrap;
        .card {
            display: flex;
            flex: 1 0 600px;
            padding: 40px 20px;
            i {
                margin-right: 20px;
            }
        }
    }
}

section.groupPrograms {
    background: $mainBodyColor;
    .programsLocations {
        display: flex;
        flex-wrap: wrap;
        div {
            width: 50%;
            position: relative;
            flex: 1 0 500px;
            padding: 30px;
            img {
                box-shadow: 20px 20px $boxShadowColor;
            }
        }
    }
}

/* Main @media Queries */

/* Blog Page Main Styles */


/* Contact Page Main Styles */