$mainBackgroundColor: #E0FDDF; // Ice
$boxShadowColor: #F8FB05; // Bright Yellow
$contentBoxColor: #F5F5F5; // White
$buttonColor: #065635; // Evergreen
$footerColor: #151514; // Black

$fontColor: #151514;

$anchorTagHoverFocus: "a:hover, a:focus";
